
body{
  background-color: lightblue;

}
h1{
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  text-align: center;
  color: navy;
}
img {
    display: block;
    margin: 0 auto;
}
h2{
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  color: navy;
  text-align: center;
  font-size: 33px;
}
p{
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    color: navy;
    text-align: center;
  }
h3{
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-align: center;
  color: maroon;
}
